

.numeral {
    margin-left: 17rem;
    top: 180px;
    font-weight: 500;
}


.container {
    margin-left: 43px;
    margin-right: 200px;
    margin-top: 5rem;
    margin-bottom: 25rem;
}







    

