

.gridCol1#numeral {
    position: relative;
    left: 241px;
    top: 148px;
    font-weight: 500;
}


.container {
    margin-left: 43px;
    margin-right: 200px;
}

.gridCol2#intro {
    position: relative;
    top: 90px;
    left: 377px;
    margin-left: 10px;
    padding-right: 7.5em;
    font-weight: 500;
    font-size: 55px;
    line-height: 72px;
}

.gridCol1 {
    margin-right: 73px;
}

.gridCol2 {
    left: 377px;
    margin-left: 73px;
    margin-right: 55px;
}